body {
    display: flex; 
    flex-direction: column;  /* aligngs the elements vertically */
    align-items: center;
}

.container { /* the attributes for the box*/
background-color: gray;
width: 500px; /* sets the height,width, color of container */
height: 500px;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
border: 1px solid gray;


}

.boxes {
    
    background-color: white;
    border: 1px solid black;
  
   
   box-sizing: border-box;
  
   
   
  
  
}
.boxes.hovered {
    background-color: black;
}